###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> lexik/jwt-authentication-bundle ###
/config/jwt/*.pem
###< lexik/jwt-authentication-bundle ###

###> phpstan/phpstan ###
phpstan.neon
###< phpstan/phpstan ###

###> phpcs ###
/tools/php-cs-fixer/vendor/
###< phpcs ###
###> phpunit/phpunit ###
/phpunit.xml
/.phpunit.cache/
/tests/coverage/
/bin/.phpunit.result.cache
.phpunit.result.cache
###< phpunit/phpunit ###
