parameters:
    level: max
    paths:
        - src/
        - tests/
    ignoreErrors:
        - '#Property App\\Entity\\.*::\$id \(int\|null\) is never assigned int so it can be removed from the property type#'
        - '#Property App\\Entity\\.*::\$id \(Ramsey\\Uuid\\UuidInterface\|null\) is never assigned Ramsey\\Uuid\\UuidInterface so it can be removed from the property type#'

